---
import { Image } from "astro:assets";
import Title3 from "../../../shared/Title3.astro";
import LazyImage from "../../../shared/LazyImage.astro";

export interface Props {
  name: string;
  visual: ImageMetadata;
  occupation: string;
  quote: string;
}

const { name, visual, occupation, quote } = Astro.props;
---

<div
  class="flex w-full max-w-[26rem] flex-col rounded-xl dark:bg-base-dark-800 shadow-lg dark:shadow-dark ring-1 ring-black/5"
>
  <div class="flex flex-row items-center overflow-hidden p-4 gap-4">
    <div class="shrink-0 h-[88px] w-[88px] rounded-full overflow-hidden">
      <LazyImage
        src={visual}
        alt="profile picture"
        height={88}
        class="inline-block w-full h-full object-cover"
      />
    </div>
    <div class="flex w-full flex-col gap-0.5">
      <div class="flex items-center justify-between">
        <h5
          class="block text-xl font-semibold leading-snug text-primary-900 dark:text-primary-100"
        >
          {name}
        </h5>
      </div>
      <p
        class="block font-light leading-relaxed text-primary-900 dark:text-primary-300/50"
      >
        {occupation}
      </p>
    </div>
  </div>
  <div class="p-4">
    <p class="block font-sans font-light leading-relaxed italic">
      {quote}
    </p>
  </div>
</div>
